<!DOCTYPE html>
<html>
<!--  cabeçalho -->
<head>
<meta charset="utf-8">
<title>Aplicação Spring Boot Data JPA</title>
<link rel="stylesheet" href="estilo.css">
</head>
<!--  corpo da página -->
<body>
	<div id="topo">
		<h1 class="h1">Aplicação Spring Boot Data JPA</h1>
	</div>
	<div id="corpo">
		<div id="menu">
			<ul id="links">
				<li class="item"><a href="index.html">Home</a></li>
				<li class="item"><a href="grupo.html">Grupo</a></li>
				<li class="item">Produtos</li>
				<li class="item">Pedido</li>
			</ul>
		</div>
		<div id="conteudo">
			<h1>Conteúdo da Página</h1>
		</div>
	</div>
	<div id="rodape">
		<h1>Rodapé</h1>
	</div>
</body>
</html>